<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    
  </title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<style>
  body{
    font-family: 'Roboto Mono', monospace;
  }
a:hover {
  background-color: blue;
}

</style>


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Music Recommendation System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" href="{% url 'Home'%}">Home</a>
        </li>
         {% if  request.session.type_id  == 'User' %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ChatWindow'%}">Chat</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Detection'%}">Detect</a>
        </li>

        {%elif  request.session.type_id  == 'Admin' %}

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'View_User'%}">View User</a>
        </li>
        {% endif %}
      </ul>


      <form class="d-flex" role="search">
        {% if  request.session.login == 'Yes' %}
         <ul class="navbar-nav ms-auto">
          {% if  request.session.type_id == 'User' %}
            <li class="nav-item"><a class = "nav-link active" >Hi, {{request.session.UserType}}</a></li>
          {% endif %}
        <li class="nav-item"><a class = "nav-link active" href="{% url 'Logout'%}" >LogOut</a></li>
        </ul>
        {% else %}    
         
       <li style="list-style-type: none;padding-right: 40px;" class="nav-item dropdown">
          <a style="color: white;"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'Login'%}">Login</a></li>
          </ul>
        </li>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
{% block content %}

{% endblock %}

<footer style="padding: 10px 20px;background:black;color:white;height:44px;position:fixed;bottom:0; width: 100%;">
  <div>
    <p style="font-size: small; text-align: right;color: white;">Company ©2024. All rights reserved.</p>
  </div>
</footer>

</body>
</html>