{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}
    
    <style>
    .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.box > div { /*The > denotes only the first or immediate child will be affected*/
  width: 500px;
  height: auto;
  /*border: dotted;
*/
}
</style>
<div style="background-image:  url('/media/bg1.png'); background-repeat:no-repeat;background-size:cover;  height:500px; width:100%;">
<div class="box" >
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="/Detect/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="row">
                    <img src="/media/emotion.jpg">
                </div>
                <div class="row"  style="display: flex;justify-content: center;">
                    <input type="submit" name="Detect" class="btn btn-secondary" value="Detect">
                </div>
                <br>
                <div class="row">
                    <h5 style="color: red;padding-left: 70px;"><b>**Press Q key to close the window**</b></h5>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
    {% endblock %}